# Env file for inference from remote server

# Required
BOT_TOKEN="your-bot-token"

# Required
INFERENCE_API_URL="https://api.openai.com"

# Optional
# Directory to save persistent bot data in container
# Default: /data
BOT_DATA_DIR="/bot-data"

# Optional
# Filename to save persistent bot data in BOT_DATA_DIR
# Default: quick_llm_bot_data
BOT_PERSISTENCE_FILE="bot_data"

# Optional
# How many seconds to wait before assuming that server does not respond
# Default: 60
INFERENCE_RESPONSE_TIMEOUT="100"

# Optional
# Specify if required by your server
# Default: None
INFERENCE_API_KEY="your-inference-api-key"
